main {
    height: 1920px;
}

header {
    max-width: 960px;
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    max-width: 100%;
}

header > ul {
    display: flex;
    padding: 10px 0;
}

.title {
    font-size: 24px;
    font-weight: bolder;
}

li {
    list-style: none;
}

.Menu > ul > li {
    display: inline-block;
    font-size: 16px;
    margin-left: auto;
}
.Menu > ul > li > a {
    text-decoration: none;
    margin-left: 5px;
}

/* インスタのロゴ　仮で画像を使用 */
.insta {
    width: 15px;
    height: 15px;
}

.header_image {
    width: 100%;
    height: 420px;
    max-width: 1920px;
    object-fit: cover;
}

.about {
    max-width: 960px;
    display: block;
    justify-content: space-between;
    text-align: left;
    margin: 0 auto 10px auto;
    
}

h5 {
    font-weight: lighter;
}

.about h1 {
    text-align: center;
}

.Works {
    margin-top: 60px;
    max-width: 960px;
    display: block;
    justify-content: space-between;
    margin: 0 auto 10px auto;
}

.Works h1 {
    text-align: center;
    margin-bottom: 50px;
}


.Works > ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.Works > ul > li {
    margin-bottom: 23px;
    max-height: 160px;
    width: 26%;
}

.News {
    max-width: 960px;
    display: block;
    justify-content: space-between;
    margin: 0 auto 10px auto;
}

.News h1 {
    text-align: center;
    margin-bottom: 50px;
}

.News dl {
    display: flex;
    flex-wrap: wrap;
    border-top: solid 1px #c8c8c8;
    margin-bottom: 20px;
}

.News dt {
    width: 20%;
    border-bottom: solid 1px #c8c8c8;
    padding: 15px 0;
}

.News dd {
    width: 80%;
    border-bottom: solid 1px #c8c8c8;
    padding: 15px 0;
    margin-left: 0px;
}


.contact {
    margin-top: 60px;
    max-width: 960px;
    display: block;
    justify-content: space-between;
    margin: 0 auto 10px auto;
}

.contact h1 {
    text-align: center;
    margin-bottom: 50px;
}

div .form {
    margin-bottom: 10px;
    display: flex;
    max-width: 960px;
}

div > .name {
    display: block;
    width: 20%;
    margin-right: 0px;
    padding: 10px 0;
}

.form > .namearea {
    width: 80%;
    padding: 10px 0;
}

.form > .emailarea {
    width: 80%;
    padding: 10px 0;
}

div > .email {
    display: block;
    width: 20%;
    margin-right: 0px;
    padding: 10px 0;
}

div > .massage {
    display: block;
    width: 20%;
    margin-right: 0px;
    padding: 10px 0;
}

.form > textarea {
    width: 80%;
    padding: 10px 0;
}


div.form.submit {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 60px;
}

[type="submit"] {
    display: block;
    width: 200px;
    height: 70px;
    background-color: black;
    color: aliceblue;
    
}

footer {
    color: #FFF;
    background: #000;
    text-align: center;
    padding: 10px;
    font-size: small
}

@media (max-width: 600px) {
    header {
        max-width: 100%;
        height: auto;
        display: block;
        align-items: center;
        justify-content: space-between;
        padding: 0 4%;
        margin: 0 auto;
        text-align: center;
    }

    nav.menu {
        display: flex;
        justify-content: center;
        margin: auto;
    }
}